body, button {
	background-color: black;
	font-family: 'Open Sans';
}

* {
	color: white;
}

guess {
	display: block;
	margin-top: 10%;
}

row {
  position: relative;
	display: table;
	font-size: 3rem;
	letter-spacing: 14px;
	font-weight: bold;
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
	margin: 0 auto;
}

cell {
	position: relative;
	display: inline-block;
	margin: .5rem;
	padding: .3rem 0 0 .8rem;
	width: 3.8rem;
	height: 4.6rem;
	vertical-align: middle;
	text-align: center;
	cursor: default;
	text-transform: capitalize;
	user-select: none;
/*	border-radius: 15px;*/
	outline: 2px solid #323234;
/*	32aa34 green */ 
}
